:root {
--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #2196F3;
--primary-white-color: #ffffff;
}
body {
background-color: var(--primary-white-color);
color: var(--primary-text-color);
}
.accentrword {
    color: var(--accent-color);
}
.logo {
 color: var(--title-text-color);
 font-family: Raleway;
 font-style: 400;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.2;
 letter-spacing: 0.03em;
 text-decoration: none;
}
.site-nav {
font-family: Roboto;
font-style: 400;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
text-decoration: none;
}